{% extends 'admin/base.html.twig' %}

{% block custom_page_title %}Úprava apartmánu{% endblock %}
{% block custom_page_subtitle %}{% endblock %}
{% block back_path %}{{ path('app_apartment_list') }}{% endblock %}

{% block page_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary table-box">
                <div class="box-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.building) }}
                    {{ form_row(form.person) }}
                    {{ form_row(form.size) }}
                    {{ form_row(form.coldWaterStatus) }}
                    {{ form_row(form.hotWaterStatus) }}
                    {{ form_row(form.gasMeterStatus) }}
                    {{ form_row(form.squareStatus) }}
                    {{ form_row(form._token) }}
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-right">Uložit</button>
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}